{% import "trees/rhel7.j2" as rhel7 %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.9"/>
{% endset %}
{% macro repo_url(suffix) -%}
  https://rhsm-pulp.corp.redhat.com/content/dist/rhel/{{ rhel7.flavor(ARCH) }}/7/7Server/{{ ARCH }}/{{ suffix }}
{%- endmacro %}
{% macro repo_cmd(idx, suffix) -%}
  {%- filter unindent %}
    cat >/etc/yum.repos.d/pulp{{ idx }}.repo <<EOF
    [pulp{{ idx }}]
    name=pulp{{ idx }}
    baseurl={{ repo_url(suffix) }}
    enabled=1
    gpgcheck=0
    skip_if_unavailable=1
    EOF
  {%- endfilter -%}
{%- endmacro %}
{% set ks_append | unindent %}
  <ks_append><![CDATA[
  %post
  # Enable Buildroot for test dependencies
  {{ repo_cmd(0, "os") }}
  {{ repo_cmd(1, "optional/os") }}
  {{ repo_cmd(2, "debug") }}
  {% if "rt" in COMPONENTS %}
    {% filter unindent %}
      {{ repo_cmd(3, "rt/os/") }}
    {% endfilter %}
  {% endif %}
  %end
  ]]></ks_append>
{% endset %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% if "rt" in COMPONENTS %}
  {% set kernel_options_post = "efi=runtime" %}
{% endif %}
