{# https://gitlab.com/redhat/centos-stream/tests/kernel/kpet-db/-/issues/170 #}
{% if ARCH == "x86_64" and
      not TREE.startswith("rhel8") and
      not TREE.startswith("rhel7") and
      not TREE.startswith("rhel6") %}
  <not>
    {% include "host_types/hpsa.host_requires.xml.j2" %}
  </not>
{% endif %}
